<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cyeam.doodle"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <application
        android:name=".DoodleApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.cyeam.doodle.ui.DoodleActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="com.cyeam.doodle.ui.UpdaterService" />

        <provider
            android:name=".DoodleProvider"
            android:authorities="com.cyeam.doodle.doodleprovider" />

        <receiver android:name="com.cyeam.doodle.ui.DoodleWidget" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.cyeam.doodle.click" /> 
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/doodle_widget_info" />
        </receiver>
    </application>

    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" >
    </uses-permission>
    <uses-permission android:name="android.permission.SET_WALLPAPER" />

</manifest>